# ==========================================
# 1. ARCHIVOS COMPILADOS Y DE CONSTRUCCIÓN
# ==========================================
*.class
*.log
dist/
build/
out/
target/

# ==========================================
# 2. ARCHIVOS DE EDITORES E IDEs
# ==========================================
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# BlueJ
*.ctxt

# ==========================================
# 3. EMPAQUETADOS JAVA
# ==========================================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ==========================================
# 4. ARCHIVOS DEL SISTEMA OPERATIVO
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# 5. VARIABLES DE ENTORNO Y SECRETOS
# ==========================================
.env
.env.*
config/local.yml

# ==========================================
# 6. CARPETAS PERSONALES Y EXTERNAS
# ==========================================
/archivosSergio/
/archivosSony/
/node_modules/
.mtj.tmp/

# Archivos de error de la máquina virtual Java
hs_err_pid*
replay_pid*